<html>
	<head>
		<title>tienda online</title>
	</head>
	<body>
{% if user.is_authenticated %}
			<p>Soy {{ user.get_username }}</p>
			<a href="{% url 'anadircoche' %}">Añadir Coche</a>
		{% endif %}
		<nav>
			<ul>
				{% if user.is_authenticated %}	
					<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'registro' %}">Registro</a></li>
					<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
			</ul>
		</nav>


		{% if listacoches %}
			<table border="2">
				<tr>
					<td>Marca</td>
					<td>Modelo</td>
					<td>Combustible</td>
					<td>Precio</td>
					<td>Vendedor</td>
					<td>Venta</td>
					<td>Prestaciones</td>
				</tr>
				{% for Producto in listacoches %}
					<tr>
						<td>{{ Producto.Marca }}</td>
						<td>{{ Producto.Modelo }}</td>
						<td>{{ Producto.Combustible }}</td>
						<td>{{ Producto.Precio }}</td>
						<td><a href="{% url 'vendedor' Producto.Vendedor.id %}">web
</a></td>
		<td><a href="{% url 'anadircoche' %}">Añadir coche</a></td>
<td><a href="{% url 'caracteristicas' Producto.id %}">Caracteristicas</a></td>

					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>No hay coches</p>			
		{% endif %}
	</body>
</html>
